:root {
  --color: #4f5660;
  --background-color: #ffffff;
  --shadow-bg: #97999b;
  --button-bg: #e0e2e4;
  --icon: "\f186";
}

.dark-mode {
  --color: #fff;
  --background-color: #32353b;
  --shadow-bg: #000000;
  --button-bg: #4a4e55;
  --image-filter: grayscale(15%);
  --icon: "\f185";
}

body {
  --duration: 0.5s;
  --timing: ease;
  overflow: hidden;
  width: 100%;
  background-color: var(--background-color);
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  font-size: 5rem;
  color: var(--color);
}

a {
  color: #96989d;
  text-decoration: none;
  font-weight: 1.5px;
  font-size: 25px;
}

footer {
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.heading,
body {
  display: flex;
  justify-content: center;
}

#theme {
  position: absolute;
  cursor: pointer;
  background-color: var(--button-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 70px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#theme::before {
  content: var(--icon);
  font-family: fontAwesome;
  color: var(--color);
  font-size: large;
}

.dice {
  padding: 4% ;
  display: inline-block;
  text-align: center;
}

#play {
  align-items: center;
  background-color: transparent;
  border: 3px solid var(--color);
  box-sizing: border-box;
  color: var(--color);
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 1000;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  text-align: center;
  transition: all 0.3s;
}

#play:hover {
  box-shadow: 0px 8px 15px var(--shadow-bg);
  background-color: var(--button-bg);
}

.PlayerName {
  position: relative;
  width: 80%;
  padding: 10px 0;
  font-size: 18px;
  color: #96989d;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1.5px solid var(--color);
  outline: none;
  background: transparent;
}

// Dice
.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.result-1 {
  transform: translateZ(-100px) rotateY(0deg);
}
.result-2 {
  transform: translateZ(-100px) rotateY(-180deg);
}
.result-3 {
  transform: translateZ(-100px) rotateY(-90deg);
}
.result-4 {
  transform: translateZ(-100px) rotateY(90deg);
}
.result-5 {
  transform: translateZ(-100px) rotateX(-90deg);
}
.result-6 {
  transform: translateZ(-100px) rotateX(90deg);
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 4px solid var(--color);
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: var(--color);
  text-align: center;
}

.face1 {
  background: var(--button-bg); 
  transform: rotateY(0deg) translateZ(100px);
}
.face3 {
  background: var(--button-bg);
  transform: rotateY(180deg) translateZ(100px);
}
.face2 {
  background: var(--button-bg);
  transform: rotateY(90deg) translateZ(100px);
}
.face4 {
  background: var(--button-bg);
  transform: rotateY(-90deg) translateZ(100px);
}
.face5 {
  background: var(--button-bg);
  transform: rotateX(90deg) translateZ(100px);
}
.face6 {
  background: var(--button-bg);
  transform: rotateX(-90deg) translateZ(100px);
}

@media (min-width: 768px) {
  #play {
    min-width: 170px;
  }
  h1 {
    font-size: 8rem;
  }
}
